@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee7d5;
  color: #312313;
  font-family: 'Roboto', sans-serif;
}

.alt-button {
  background-color: #77321a;
  border: none;
  border-radius: 4px;
  color: #eee7d5;
  font-family: inherit;
  padding: 10px 20px;
  text-transform: uppercase;
}

.alt-button:disabled {
  opacity: .6;
}

.category-buttons-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 140px;
  padding: 10px 10px;
}

.category-button,
.category-button-alt {
  background-color: #77321a;
  border: none;
  border-radius: 4px;
  color: #eee7d5;
  height: 50px;
  font-family: inherit;
  font-size: 14px;
  width: 30vw;
}

.category-button-alt {
  background-color: #312313;
}

.control-buttons-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.control-buttons-page h4 {
  margin-top: 50px;
}

.control-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.control-button {
  background-color: #77321a;
  border: none;
  border-radius: 4px;
  color: white;
  height: 50px;
  font-family: inherit;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 250px;
}

.details-button {
  background-color: #77321a;
  border: none;
  bottom: 0;
  color: #eee7d5;
  font-size: 18px;
  height: 50px;
  position: fixed;
  text-transform: uppercase;
  width: 100vw;
}

.details-button:disabled {
  text-decoration: line-through;
}

.last {
  margin-top: 100px;
}

.svg-button {
  background: transparent;
  border: none;
}

.svg-button-alt {
  align-items: center;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .4);
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.svg-small {
  height: 24px;
  width: 24px;
}

.svg-med {
  height: 36px;
  width: 36px;
}

.svg-large {
  height: 48px;
  width: 48px;
}

.warning-message {
  position: fixed;
  text-align: center;
  top: 20px;
  width: 100vw;
  z-index: 10;
}

.warning-message span {
  background-color: white;
  font-style: italic;
  padding: 10px;
}

.text-input {
  border: 1px solid #eee7d5;
  font-family: inherit;
  padding: 5px;
  width: 200px;
}
