.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 10px 80px;
}

.card {
  align-items: center;
  background-color: white;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .4);
  display: flex;
  flex-direction: column;
  font-family: inherit;
  margin-bottom: 20px;
  width: 160px;
}

.card-image {
  height: 160px;
  width: 160px;
}

.card span {
  margin: 30px 0 10px;
}

.ingredient-image {
  height: 80px;
  margin-top: 20px;
  width: 80px;
}

.profile-card-list {
  margin: 10px;
}

.profile-card {
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 12px;
  height: 150px;
  margin-bottom: 20px;
}

.profile-card-image {
  height: 150px;
  width: 150px;
}

.profile-card > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  padding: 5px 0 0 5px;
}

.profile-card h4 {
  margin-top: 5px;
}

.profile-card span {
  margin-top: 10px;
}

.card-buttons-container {
  align-items: flex-end;
  display: flex;
  flex-grow: 10;
  justify-content: flex-end;
  padding: 10px;
}
